<a href="https://colab.research.google.com/github/achalweise/Project-2/blob/main/Project_2_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

forest_fires = pd.read_csv('/content/forestfires.csv')
forest_fires.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [7]:
forest_fires.shape

(517, 13)

In [ ]:
#1) Source of data: https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/ 

#2) Brief description of data: Predict areas impacted by forest fires

#3) What is the target? Month, Day

#4) Is this a classification or regression problem? Regression

#5) How many features? 9 

#6) How many rows of data. 517

#7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset? 
#clean up shouldn't be bad, howvever the modeling may get tricky, in how to figure our the impacted areas.

In [8]:
house_prices = pd.read_csv('/content/HousePrices_HalfMil.csv')
house_prices.head()

   Area  Garage  FirePlace  Baths  ...  Glass Doors  Swiming Pool  Garden  Prices
0   164       2          0      2  ...            1             0       0   43800
1    84       2          0      4  ...            1             1       1   37550
2   190       2          4      4  ...            0             0       0   49500
3    75       2          4      4  ...            1             1       1   50075
4   148       1          4      2  ...            1             1       1   52400

[5 rows x 16 columns]

In [9]:
house_prices.shape

(500000, 16)

In [ ]:
#1) Source of data: https://www.kaggle.com/greenwing1985/housepricing?select=HousePrices_HalfMil.csv

#2) Brief description of data: housing features along with prices

#3) What is the target? Area 

#4) Is this a classification or regression problem? Classification 

#5) How many features? 16

#6) How many rows of data. 500,000

#7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset? 
#clean up shouldn't be bad, howvever the modeling may get tricky, I want to figure out trends in price within areas